@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@0;1&display=swap');
*{
    font-family: 'Poppins', sans-serif; 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(163, 163, 244);
}
section{
    margin: 10%;
    display: flex;
    justify-content: center;
}
.swiper{
    width:600px;

}
.card{
    position:relative;
    background-color: rgb(225, 225, 14);
    border-radius: 20px;
}
section .card .image{
height:200px;
width:200px;
padding:3px;
object-fit: cover;
background-color: beige;
border-radius: 15px;
}
section .card .image img{
    height:100%;
    width:100%;
    object-fit:fill;
    border-radius: 15px;
    }